* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

body {
  height: 100%;
  width: 100%;
}

.card {
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav {
  background: blue;
  padding: 20px;
  margin: 10px;
}